-hbm_use_ramulator2 1
-hbm_ramulator2_wrapper /home/jenius/Accel-MQ-Ramulator-publish-20260321-v2/external_wrappers/ramulator2_wrap/build/libramulator2_wrap.so
-hbm_ramulator2_config /home/jenius/Accel-MQ-Ramulator-publish-20260321-v2/workloads/ramulator2/hbm2_16ch.yaml
-hbf_use_mqsim 1
-hbf_mqsim_wrapper /home/jenius/Accel-MQ-Ramulator-publish-20260321-v2/external_wrappers/mqsim_wrap/build/libmqsim_wrap.so
-hbf_mqsim_config /home/jenius/Accel-MQ-Ramulator-publish-20260321-v2/MQSim/ssdconfig.xml
-hbf_subpage_bytes 512
-hbf_partition_count 0
-hbf_random_access 0
-hbf_request_trace 1
-hbf_request_trace_file /home/jenius/Accel-MQ-Ramulator-publish-20260321-v2/hw_run/traces_jenius/tiny_transformer_backend_map/hbf_requests_missing_weights.trace
-hbf_request_trace_limit 0
-mem_backend_map_file /home/jenius/Accel-MQ-Ramulator-publish-20260321-v2/hw_run/traces_jenius/tiny_transformer_backend_map/backend_map_missing_weights.txt
-mem_backend_map_default unspecified
